.title-text {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 1rem;
}

.category-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 2.5rem;
  padding: 2rem 5%;
}
